
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner carousel-container">
    <div class="carousel-item active" (click)="clickOnCard(popularTVSeries[0], $event)" routerLink="/detailInfo">
      <img [src]="
      'https://www.themoviedb.org/t/p/original' +
      popularTVSeries[0].backdrop_path
    " class="d-flex w-100" alt="...">
      <div class="carousel-caption d-block">
        <h1>{{ popularTVSeries[0].name}}</h1>
      </div>
    </div>
    <div class="carousel-item" (click)="clickOnCard(popularTVSeries[1], $event)" routerLink="/detailInfo">
      <img [src]="
      'https://www.themoviedb.org/t/p/original' +
      popularTVSeries[1].backdrop_path
    " class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>{{ popularTVSeries[1].name}}</h1>
      </div>
    </div>
    <div class="carousel-item" (click)="clickOnCard(popularTVSeries[2], $event)" routerLink="/detailInfo">
      <img [src]="
      'https://www.themoviedb.org/t/p/original' +
      popularTVSeries[2].backdrop_path
    " class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>{{ popularTVSeries[2].name}}</h1>
      </div>
    </div>
    <div class="carousel-item" (click)="clickOnCard(popularTVSeries[3], $event)" routerLink="/detailInfo">
      <img [src]="
      'https://www.themoviedb.org/t/p/original' +
      popularTVSeries[3].backdrop_path
    " class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>{{ popularTVSeries[3].name}}</h1>
      </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>