@import "../styles.scss";

.main-container {
  min-height: 100vh;

  // height: 100%;
  display: grid;
  grid-template-columns: 1fr 6fr 2fr; /* Две колонки равной ширины */
  grid-template-rows: 100px auto;
  color: $second-primary-color;
}

.app-nav-menu {
  background-color: $second-back-color;

  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.visible {
  display: none;
}

.app-nav-bar {
  background-color: $back-color;
  height: 100px;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.app-main-content {
  background-color: $back-color;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.app-categories {
  background-color: $second-back-color;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}


@media screen and (max-width: 1701px) {
  .app-nav-bar {
    background-color: $back-color;
    height: 100px;
    align-items: center;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .app-main-content {
    background-color: $back-color;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  .app-categories {
    display: none;
  }
}

@media (max-width: 1350px) {
  .p-carousel-content {
    width: 600px;
  }
}

@media (max-width: 720px) {
  .main-container {
    display: grid;
    grid-template-columns: 0.5fr 6fr 2fr; 
    grid-template-rows: 100px auto;
    color: $second-primary-color;
  }

  .app-nav-bar {
    background-color: $back-color;
    height: 100px;
    align-items: center;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  .app-main-content {
    background-color: $back-color;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .app-nav-menu {
    background-color: $back-color;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

