@import "../../styles.scss";

.upper-container {
  display: flex;
  flex-direction: row;
}

.right-side,
.left-side {
  flex: 1;
}

.left-side {
  margin-left: 1.5rem;

  img {
    border-radius: 15px;
    border: $third-primary-color 2px solid;
  }
}

.right-side {
  margin-left: 2rem;
  margin-right: 2rem;
  p {
    font-size: 20px;
  }
}

.description-title {
  text-align: left;
  margin-right: 3rem;
}

.description {
  display: flex;
}

.description-info {
  display: flex;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $second-primary-color;
  font-size: 1.8rem;
  margin: 1rem;
  background-color: $third-primary-color;
  border-radius: 20px;
  width: 140px;
  transition: transform 0.2s ease-in-out;
  &:hover {
    background-color: darken($third-primary-color, 25%);
    transform: scale(1.1);
  }

  img {
    margin-left: 15px;
    width: 50px;
  }
}

.title-container {
  display: flex;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  h1 {
    margin: auto;
  }
}

.bottom-container {
  display: flex;
  margin: 1rem 1.5rem 2rem 1.5rem;
  button:first-child {
    margin-right: 20px;
    background-color: $third-primary-color;
    &:hover {
      background-color: darken($third-primary-color, 20%);
    }
  }
}

button {
  padding: 20px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: $second-primary-color;
  background-color: $primary-color;

  transition: transform 0.3s ease-in-out;
  &:hover {
    background-color: lighten($primary-color, 20%);
    color: black;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.overview {
  width: 800px;
  h2 {
    margin-top: 1rem;
    text-align: center;
  }
  p {
    font-size: 1.4rem;
  }
}

td {
  padding-bottom: 4px;
}

td:first-child {
  padding-right: 20px; /* или любое другое значение для создания нужного расстояния */
}

.pop-message {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  gap: 20px;
}

.right-side-info {
  width: auto;
}

@media screen and (max-width:1300px) {
  .upper-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 40px 0 40px;
  }

  .overview {
  width: auto;
  margin-bottom: 20px;
  }
  
}