@import "../../styles.scss";

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 40px;
}

.card-item {
  flex: 1;
  min-width: 200px;
  max-width: 210px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border: 4px solid $second-back-color;
  border-radius: 14px;
  background-color: $back-color;

  h2 {
    align-items: center;
    padding-bottom: 10px;
  }

  img {
    border-radius: 10px;
    width: 100%;

    &:hover {
      filter: saturate(110%) brightness(110%); // Увеличение насыщенности и яркости при наведении saturate(150%)
    }
  }

  &:hover {
    background-color: lighten($back-color, 10%);
  }
}

@media screen and (max-width: 600px) {
  .container-card {
    margin: 0;
  }
}